@model MySite.Models.Verlanglijst

@{
    ViewData["Title"] = "Delete";
}

<h2>Weet je zeker dat je deze wens wilt verwijderen?</h2><hr />
<div>
    <dl class="dl-horizontal">               
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Winkel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Winkel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt> 
        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <a class="btn btn-default" asp-action="Index">Terug</a> |
            <input type="submit" value="Verwijder" class="btn btn-danger" />            
        </div>
    </form>
</div>
