@model IEnumerable<MySite.Models.Lijst>

@{
    ViewData["Title"] = "Index";
}

<h2>Mijn lijsten</h2>

<p>
    <a class="btn btn-default" asp-action="Create">Nieuwe lijst</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LijstId">Naam wijzigen</a> |
                <a asp-action="Details" asp-route-id="@item.LijstId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LijstId">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
