@model LijstItem
@Html.HiddenFor(a => Model.Id)
@Html.HiddenFor(a => Model.LijstId)
@Html.HiddenFor(a => a.Naam)
<dd>
    <div class="list-item-container">
        <article>
            <input type="checkbox" asp-for="Gedaan"/>
            <p style="display:inline;">@Model.Naam</p>
        </article>
        <a asp-controller="Lijst" asp-action="LijstItemVerwijderen" asp-route-id="@Model.Id" class="btn btn-default">Verwijderen</a>
    </div>
</dd>