@model LijstItem
@Html.HiddenFor(a => Model.Id)
@Html.HiddenFor(a => Model.LijstId)
@Html.HiddenFor(a => a.Naam)
<dd>
    <div class="list-item-container">
        <article>
            @Html.CheckBoxFor(a => Model.Gedaan)
            @Html.DisplayFor(a => Model.Naam)
        </article>
    </div>
</dd>