@model ReisViewModel

@{
    ViewData["Title"] = "Details";
}
<form asp-action="ReturnToIndex">
    <h2>Details voor @Html.DisplayFor(model => model.Naam)</h2><hr />
    @Html.HiddenFor(a => a.UserNaam)
    <div class="detailContainer">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ReisStatus)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReisStatus)
            </dd>
            <dt>
                Aankomst datum
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AankomstDatum)
            </dd>
            <dt>
                Vertrek datum
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VertrekDatum)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Prive)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Prive)
            </dd>
            <dt>
                Bestemmingen
            </dt>
            @Html.EditorFor(a => a.Landen)
        </dl>
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Terug" class="btn btn-default"/>
    </div>
</form>