@model Lijst
<form asp-action="Update" method="post">
    <h2>@Html.DisplayFor(model => model.Naam)</h2><hr />
    <div>
        <dl>
            <dd>
            </dd>
            @Html.HiddenFor(a => Model.Id)
            @Html.HiddenFor(a => Model.Naam)
            @Html.HiddenFor(a => a.UserId)
            @Html.EditorFor(a => a.Items)            
        </dl>
        <div class="form-group">
            <label asp-for="Prive" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Prive" class="form-control" />
                <span asp-validation-for="Prive" class="text-danger" />
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-default" asp-action="Index">Terug naar lijsten</a>
        <a class="btn btn-default" asp-controller="Lijst" asp-action="LijstItemToevoegen" asp-route-id="@Model.Id">Item Toevoegen</a>
        <input type="submit" value="Opslaan" class="btn btn-default" />
    </div>
</form>