@model MySite.Models.ReisViewModels.ReisViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details voor @Html.DisplayFor(model => model.Naam)</h2><hr />

<div class="detailContainer">    
    <dl class="dl-horizontal">        
        <dt>
            @Html.DisplayNameFor(model => model.ReisStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReisStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AankomstDatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AankomstDatum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VertrekDatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VertrekDatum)
        </dd>
        <dt>
            Bestemmingen
        </dt>
        @foreach (var bestemming in Model.Landen)
        {
            <dd>@Html.DisplayFor(a => bestemming.Naam) | @Html.DisplayFor(a => bestemming.Stad)</dd>            
        }
    </dl>
</div>
<div>
    <a class="btn btn-default" asp-action="Index">Terug</a> |    
    <a class="btn btn-default" asp-action="Aanpassen" asp-route-id="@Model.Id">Aanpassen</a> |
    <a class="btn btn-default" asp-action="LandToevoegen" asp-route-id="@Model.Id">Bestemming toevoegen</a>
</div>
