@model MySite.Models.HomeViewModels.HomeViewModel

<div class="flexContainer">
    <a  class="flexDahboardRef" href="/reis/index">
        <div>
            <h1>Mijn reizen</h1>
            <p>Wens: @Html.DisplayFor(a => a.AantalReizenGewenst)</p>
            <p>Geboekt: @Html.DisplayFor(a => a.AantalReizenGeboekt)</p>
            <p>Gedaan: @Html.DisplayFor(a => a.AantalReizenGedaan)</p>
        </div>
    </a>
    <a  class="flexDahboardRef" href="/lijst/index">
        <div>
            <h1>Mijn lijstjes</h1>
            <p>Aantal: @Html.DisplayFor(a => a.AantalLijstjes)</p>
        </div>
    </a>
    <a  class="flexDahboardRef" href="/verlanglijst/index">
        <div>
            <h1>Mijn Verlanglijstjes</h1>
            <p>aantal: @Html.DisplayFor(a => a.AantalVerlanglijstjes)</p>
        </div>
    </a>
</div>